<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('操作日志记录列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>方法名称：</label>
                                <input type="text" name="method"/>
                            </li>
                            <li>
                                <label>请求方式：</label>
                                <input type="text" name="requestMethod"/>
                            </li>
                            <li>
                                <label>请求URL：</label>
                                <input type="text" name="operUrl"/>
                            </li>
                            <li>
                                <label>请求参数：</label>
                                <input type="text" name="operParam"/>
                            </li>
                            <li>
                                <label>返回参数：</label>
                                <input type="text" name="jsonResult"/>
                            </li>
                            <li>
                                <label>操作状态：</label>
                                <select name="status">
                                    <option value="">所有</option>
                                    <option value="-1">代码生成请选择字典属性</option>
                                </select>
                            </li>
                            <li>
                                <label>错误消息：</label>
                                <input type="text" name="errorMsg"/>
                            </li>
                            <li>
                                <label>操作时间：</label>
                                <input type="text" class="time-input" placeholder="请选择操作时间" name="operTime"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:log:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:log:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:log:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:log:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var detailFlag = [[${@permission.hasPermi('system:log:detail')}]];
        var editFlag = [[${@permission.hasPermi('system:log:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:log:remove')}]];
        var prefix = ctx + "system/log";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                detailUrl: prefix + "/detail/{id}",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "操作日志记录",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'operId',
                    title: '日志主键',
                    visible: false
                },
                {
                    field: 'method',
                    title: '方法名称'
                },
                {
                    field: 'requestMethod',
                    title: '请求方式'
                },
                {
                    field: 'operUrl',
                    title: '请求URL'
                },
                {
                    field: 'operParam',
                    title: '请求参数'
                },
                {
                    field: 'jsonResult',
                    title: '返回参数'
                },
                {
                    field: 'status',
                    title: '操作状态'
                },
                {
                    field: 'errorMsg',
                    title: '错误消息'
                },
                {
                    field: 'operTime',
                    title: '操作时间'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        //actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.operId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        //actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.operId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        actions.push('<a class="btn btn-warning btn-xs ' + detailFlag + '" href="javascript:void(0)" onclick="$.operate.detail(\'' + row.operId + '\')"><i class="fa fa-search"></i>详细</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>